body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #163152;
  background-color: #fdfdff;
  width: 100%;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: white;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
}

h3 {
  color: black;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

/* header */

.page-header {
  height: 490px;
  background-color: #7a5118;
  background-image: url("../img/wheat-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-top: 60px;
}

.header-top {
  margin-bottom: 120px;
}

.header-logo {
  float: left;
  margin-right: 60px;
}

img.logo {
  height: 76px;
  width: 140px;
}

.main-nav{
  float: right;
  width: 600px;
  margin-top: 10px;
}

.nav-menu {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-menu li {
  padding-left: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  margin-right: 50px;
  text-transform: uppercase;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 13px;
}

.nav-menu a:hover {
  color: rgb(240, 203, 82);
}

.nav-menu a:hover::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 1);
}

.nav-menu a:active {
  color: rgba(240, 203, 82, 0.3);
  border-bottom: 2px solid rgb(255, 255, 255);
}


/* features */

.container-wide {
  width: 1020px;
}

.features {
  background-color: #ffcb78;
  padding-top: 80px;
  padding-bottom: 50px;
}

.features-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-list li {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 210px;
  border-right: 1px solid #e5b66c;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 80px;
  vertical-align: top;
}

.features-list li.cook {
  padding-left: 0;
}

.features-list li.hq {
  border-right: none;
  padding-right: 0;
}

.features-list li.cook::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 68px;
  left: 0;
  top: 0;
  background: url("../img/icon-brew.png") no-repeat;
}

.features-list li.self-made::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 65px;
  left: 95px;
  top: 0;
  background: url("../img/icon-matreshka.png") no-repeat;
}

.features-list li.hq::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 58px;
  left: 95px;
  top: 0;
  background: url("../img/icon-thumbsup.png") no-repeat;
}